body {
    font-family: 'GothamRounded-Book', Roboto, Verdana, Geneva, Tahoma, sans-serif !important;
    padding: 0;
    margin: 0;
}

#ukuul-container {
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.jpg);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-color: #031313;
    color: white;
}

.ukuul-logo-center {
  width: 100%;
}

.header {
    color: white;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 0 !important;
}

a, h1, h2, h3, h4, h5, h6, p {
  color: rgb(97,97,97) !important;
}

.header .navbar-nav li a {
    text-decoration: none;
    color: white !important;
}

.header .navbar-nav li a:hover {
    text-decoration: none !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

.ukuul-marketing {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white !important;
}

.ukuul-marketing .ukuul-text {
    flex-grow: 1px;
    text-align: center;
}

.ukuul-marketing > .ukuul-market.ukuul-text h2 {
    font-size: 30px !important;
    font-weight: lighter;
    color: white !important;
}

.footer {
  padding-bottom: 40px;
  padding-top: 40px;
}

.footer .footer-nav {
    list-style-type: none;
    display: inline-block;
    padding-left: 0px !important;
}

.footer-nav li, .footer-text {
    display: inline-block;
    padding: 10px;
    padding-left: 0;
    padding-bottom: 0;
}

.footer-nav li:last-child {
    padding-right: 0;
}

.footer-nav li a, .footer-nav li a:hover {
    color: white !important;
    text-decoration: none;
}

.ukuul-brand-image {
  height: 100%;
}

.mast-header {
  border-bottom: 1px solid rgba(154, 151, 151, 0.25);
}

.mast-header-nav {
  padding: 0;
  margin: 0;
}

.mast-header-nav .nav.navbar-nav li:first-child a:hover {
  background-color: none !important;
}

.mast-header-nav .nav.navbar-nav li a, .mast-header-nav .dropdown-menu li a {
  color: #4EBEA4 !important;
}

.mast-header-nav .nav.navbar-nav li a.active, .mast-header-nav .nav.navbar-nav li a:hover {
  background-color: rgb(247, 247, 247) !important;
}

.mast-header-nav .nav.navbar-nav li:first-child a {
  color: rgb(97,97,97) !important;
}


.ukuul-sidebar {
  background-color: rgba(154, 151, 151, 0.25);
  padding: 20px;
}

.ukuul-nav-list {
  list-style-type: none;
  margin-left: 0 !important;
  padding-left: 0px;
}

.ukuul-nav-list li {
  margin-bottom: 20px;
}

.ukuul-nav-list li  a {
  color: rgb(97,97,97);
}

.ukuul-nav-list li  a.active {
  color: #4EBEA4 !important;
}

.ukuul-nav-list li:last-child {
  margin-bottom: 0;
}

.ukuul-content-holder {
  padding: 3em 0;
}

.ukuul-content-holder h2 {
  color: #4EBEA4 !important;
  font-size: 28px !important;
  margin-top: 0;
}

.ukuul-content-holder h3 {
  color: rgb(97,97,97);
  font-size: 20px !important;
}

.ukuul-content-holder p {
  margin-bottom: 30px;
}

.ukuul-content-holder img {
  margin-bottom: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .ukuul-content-container .row {
    display: block;
  }

  .ukuul-marketing {
    display: block;
  }

  .ukuul-marketing .ukuul-text {
    margin-left: 0;
  }

  .ukuul-market {
    text-align: center;
    padding: 3em;
  }

  .ukuul-coverage {
    width: 100%;
    height: 100%;
  }

  .ukuul-content-holder {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer .pull-right, .footer .pull-left {
    float: none !important;
    text-align: center;
  }
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white !important;
}


.mast-header .navbar-toggle {
  border: 1px solid #4EBEA4;
}

.mast-header .navbar-toggle .icon-bar {
  background-color: #4EBEA4 !important;
}

.footer-nav li a.footer-links, .footer-nav li a:hover.footer-links {
  color: #4EBEA4 !important;
}

.footer .pull-right .footer-nav li {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.footer-nav img.social-media-images {
  width: 100%;
  height: 100%;
}

.text-404 {
  color: #4EBEA4;
}

.text-404 a {
  text-decoration: none;
  color: #4EBEA4 !important;
  padding-left: 0;
}

.text-404 a:hover {
  text-decoration: none !important;
}

.blog-posts-holder {
  font-size: 30px;
  color: #4EBEA4 !important;
}

.read-more a {
  margin-left: 0;
  padding-left: 0;
  text-decoration: underline;
}

.read-more a:hover {
  color: #4EBEA4 !important;
}

.mb-small {
  font-size: 70%;
}

.recent-entries {
  margin-top: 30px;
}

.recent-entries h4 {
  font-size: 13px;
  color: #4EBEA4 !important;
}

/*.ukuul-content-holder {
  background-color: rgb(247, 247, 247);
}*/

#blog-post {
  background-color: rgb(247, 247, 247);
  padding: 30px;
  min-height: 600px;
}

.tag-id:first-child {
  margin-left: 10px;
}

.tag-id {
  font-size: 12px;
  padding: 10px;
  background-color: #4EBEA4;
  color: white;
  border-radius: 3px;
  margin-right: 10px;
  padding: 5px;
}

#blog-listing-medium {
  padding: 3em 1em;
}

.navbar {
  margin: .5em 0;
}